<!--CREATE NEW POST-->
        <div class="new-post"><i class="fas fa-plus"></i></div>

        <div class="overlay">

            <div class="add-post">

                <div class="close"><i class="fas fa-times"></i></div>

                <div class="icon"><i class="fas fa-plus"></i></div>

                <h3>Create a new Post!</h3>

                <div>
                    <input type="text" placeholder="Categorie Name..." class="mx-5 mt-5">
                </div>

                <div class="create_posts mx-5 my-1">

                    <textarea id="c_posts" class="txtArea" name="c_posts" rows="3" cols="30" placeholder="Write your post..."></textarea>

                    <button class="txtAreaBtn"> Create Post</button>
                </div>

                

            </div>

        </div>