<!-- Page template for containing navbar -->
<!-- Contains Logo, Searchbar and a dropdown menu for Login/Signup (if user is not logged in) or Profile Settings and Preferences -->

<section id="header" class="sticky-top header">

    <header>

        <nav class="nav">

            <div class="container-fluid">

                <div class="head row">

                    <div class="logo col-3 my-auto text-white">

                        <i class="fas fa-users"></i>

                        <label for="website_name"><h3 id="website_name" class="website_name d-none d-md-inline">ReadIT</h3></label>

                    </div>

                    <div class="search col-6 col-md-7 my-3 row">

                        <img src="image/search_pic.png" alt="searchbar" class="p-1 bg-white">

                        <input type="search" class="searchbar border-0" id="searchbar" placeholder="Search...">

                    </div>

                    <div class="dropdown col-3 col-md-2 my-auto text-right">

                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <i class="fas fa-user"></i>

                            <span id="user_name" class="d-none d-sm-inline">Login</span>

                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <a class="dropdown-item" href="profile.html">View profile</a>

                        </div>

                    </div>

                </div>
            </div>

        </nav>

    </header>

</section>