<div class="body row">
            <div class="col-2 m-5">
                <img src="image/profile-pic.png" alt="" class="profile-pic">
            </div>

            <div class="info-table col-8 my-5">
                <div class="my-5">
                <div>
                    <span class="that that1">Username:</span> <span class="that">{{{usernameOfOther}}}</span>
                </div>
                <div>
                    <span class="that that1">Member since:</span> <span class="that">3/6/2021</span>
                </div>
                <div>
                    <span class="that that1">Posts:</span> <span class="that">32</span>
                </div>
                <div>
                    <span class="that that1">Subscribed:</span> <span class="that">11</span>
                </div>
                <div>
                    <span class="that that1">Number of likes:</span> <span class="that">50</span>
                </div>
                </div>
            </div>
        </div>
