<!-- Page template for trending posts swiper -->
<!-- "Picks" trending posts and displays them at top of page -->

<section id="trending-posts" class="trending-posts mb-5">

    <h5 class="trending-title"><u>Trending Posts</u></h5>

    <div class="swiper-container">

        <div class="swiper-wrapper">

            <div class="swiper-slide">

                <a href="posts.html">

                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>
                    </div>

                </a>

            </div>

            <div class="swiper-slide">

                <a href="posts.html">
                    
                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>

                    </div>

                </a>

            </div>

            <div class="swiper-slide">

                <a href="posts.html">

                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>

                    </div>

                </a>

            </div>

            <div class="swiper-slide">

                <a href="posts.html">

                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>

                    </div>

                </a>

            </div>

            <div class="swiper-slide">

                <a href="posts.html">

                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>

                    </div>

                </a>

            </div>

            <div class="swiper-slide">

                <a href="posts.html">

                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>

                    </div>

                </a>

            </div>

            <div class="swiper-slide">

                <a href="posts.html">

                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>

                    </div>

                </a>

            </div>

            <div class="swiper-slide">

                <a href="posts.html">

                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>

                    </div>

                </a>

            </div>

            <div class="swiper-slide">

                <a href="posts.html">

                    <div class="card" style="width: 20rem;">

                        <img class="card-img-top" src="..." alt="Card image cap">

                        <div class="card-body">

                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                        </div>

                    </div>

                </a>

            </div>

        </div>

        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>