*{
    margin:0;
    padding:0;
}

/* ------------- head ------------*/
.head{
    background-color: #FF4242 ;
    display: flex;
}
.head .logo{
    color: white;
    font-size: 2.4em; 
    
}

/* .search{

    display: flex;

} */

.search img{
    background: white;

    border-radius:  12% 0% 0% 12%;

}
.searchbar{
    width: 70%;
    padding: 0.1em 0.3em;
    font-size: 1.2em;
    border-radius: 0px 12px 12px 0px;
    border:0px;
    outline: none;
}

.dropdown button{
    background-color: #FF4242;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}


.head{
    position: sticky;
    top: 0;
    
  }

/* ----------categorie name ------------ */

.categorie-name h1{
    background: rgba(0, 0, 0, .6);

    color: white;
    border-radius: 0.2em;
    display: inline-block;
}


/*-----------the document ---------------*/

/* .the_body{
    display: flex;

} */


/* ----------categorie information ------------ */



.categorie-info .ci_box {
    
    background-color: rgba(0, 0, 0, .6);
    color: white;
    border-radius: 10px;
    
}



/* ----------posts ------------ */

.posts{
    color: white;
}

.posts div{
    background-color:rgba(0, 0, 0, .6);
    border-radius: 6px;
}

.posts div p{
    min-height: 5em;
}

.posts div label:first-child{
    padding: 0.2em 2em;
    background: #FF4242;
    border-radius: 6px;
}

.posts div button{
    padding: 0.2em 2em;
    background: #FF4242;
    border-radius: 6px;
    color: white;
}

/* -------comments---------- */

.post_comment{
    background-color: rgba(0, 0, 0, .6);
    display: flex;

    border-radius: 6px;
}

.txtArea{
    resize: none;
    flex-grow:1;
    
    padding: 0.1em 0.3em;
    font-size: 1.2em;
    border:0px;
    outline: none;
    border-radius: 0.4em 0em 0em 0.4em;


}
.txtAreaBtn{
    /* background: rgba(0, 0, 0, .6); */
    /* padding: 0em 0.2em;
    margin: 0em 0em 0em 0.3em; */
    border-radius: 0em 0.7em 0.7em 0em;
    outline: none;
}


.the_comment{
    
    background: rgba(0, 0, 0, .6);
    
    margin: 10px;
    padding: 10px;
    color: white;
}

.the_comment  p{
    min-height: 5em;
}

.the_comment  label:first-child{
    padding: 0.2em 2em;
    background: #FF4242;
    border-radius: 6px;
}

.comment_box ul{
    list-style-type: none;
  
}

.comment_box ul button{
    padding: 0.2em 2em;
    background: #FF4242;
    border-radius: 6px;
    color: white;
}




