*{
    margin:0;
    padding:0;
}

/* ------------- head ------------*/
.head{
    background-color: #FF4242 ;
    display: flex;
}
.head .logo{
    color: white;
    font-size: 2.4em; 
    
}

.search{

    display: flex;

}

.search img{
    background: rgba(255, 255, 255, 0.788);

    padding: 5em;
    zoom: 5%;
    border-radius:  12% 0% 0% 12%;

}
.searchbar{
    width: 70%;
    padding: 0.1em 0.3em;
    font-size: 1.2em;
    border-radius: 0px 12px 12px 0px;
    border:0px;
    outline: none;
}
.dropdown button{
    background-color: #FF4242;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
}

.head{
    position: sticky;
    top: 0;
    
  }
  

.profile-pic{
      zoom: 50%;
}



.info-table table tr th{

    padding: 10px;
    
    /* border: 2px solid black; */
}

.info-table table tr th:first-child{
    text-decoration-line: underline;
}

